In [21]:
import pandas as pd
df=pd.read_csv('winequality-red.csv')

In [22]:
df.head()

  fixed acidity; "volatile acidity"; "citric acid"; "residual sugar"; "chlorides"; "free sulfur dioxide"; "total sulfur dioxide"; "density"; "pH"; "sulphates"; "alcohol"        ; "quality"
0              7.4;              0.7  ;          ...
1              7.8;              0.88 ;          ...
2              7.8;              0.76 ;          ...
3             11.2;              0.28 ;          ...
4              7.4;              0.7  ;          ...

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 1 columns):
 #   Column                                                                                                                                                                                      Non-Null Count  Dtype
---  ------                                                                                                                                                                                      --------------  -----
 0   fixed acidity; "volatile acidity"; "citric acid"; "residual sugar"; "chlorides"; "free sulfur dioxide"; "total sulfur dioxide"; "density"; "pH"; "sulphates"; "alcohol"        ; "quality"  1599 non-null   object
dtypes: object(1)
memory usage: 12.6+ KB

In [24]:
df.describe()

       fixed acidity; "volatile acidity"; "citric acid"; "residual sugar"; "chlorides"; "free sulfur dioxide"; "total sulfur dioxide"; "density"; "pH"; "sulphates"; "alcohol"        ; "quality"
count                                                1599
unique                                               1359
top                 7.5;              0.51 ;          ...
freq                                                    4

In [26]:
df.shape

(1599, 1)

In [36]:
##List down all the columns
df.columns

Index(['fixed acidity; "volatile acidity"; "citric acid"; "residual sugar"; "chlorides"; "free sulfur dioxide"; "total sulfur dioxide"; "density"; "pH"; "sulphates"; "alcohol"        ; "quality"'], dtype='object')

In [41]:

df.isnull().sum()

fixed acidity; "volatile acidity"; "citric acid"; "residual sugar"; "chlorides"; "free sulfur dioxide"; "total sulfur dioxide"; "density"; "pH"; "sulphates"; "alcohol"        ; "quality"    0
dtype: int64

In [44]:
df[df.duplicated()]

     fixed acidity; "volatile acidity"; "citric acid"; "residual sugar"; "chlorides"; "free sulfur dioxide"; "total sulfur dioxide"; "density"; "pH"; "sulphates"; "alcohol"        ; "quality"
4                 7.4;              0.7  ;          ...
11                7.5;              0.5  ;          ...
27                7.9;              0.43 ;          ...
40                7.3;              0.45 ;          ...
65                7.2;              0.725;          ...
...                                                 ...
1563              7.2;              0.695;          ...
1564              7.2;              0.695;          ...
1567              7.2;              0.695;          ...
1581              6.2;              0.56 ;          ...
1596              6.3;              0.51 ;          ...

[240 rows x 1 columns]

In [65]:
##remove the duplicates
df.drop_duplicates(inplace=True)

In [66]:
df.shape
# Correlation of each value
# df.corr()

(1359, 1)

In [60]:
import matplotlib.pyplot as plt
plt.figure(figsize=(10,6))
import seaborn as sns
sns.heatmap(df.corr(),annot=True)

ValueError: could not convert string to float: '            7.4;              0.7  ;          0   ;             1.9 ;       0.076;                  11  ;                   34  ;   0.9978 ; 3.51;        0.56;  9.4             ;         5'

In [68]:
## Visualization
df.quality.value_counts()

AttributeError: 'DataFrame' object has no attribute 'quality'